@model IEnumerable<Module3Prototype.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h1>View Past Graphs</h1>

@{ var ci = 1; }
@{ var ri = 3; }
@{ var ls = 1; }

@if(ci == 1 && ri == 1 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/111222333.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 2 && ri == 2 && ls == 2)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/111222333.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 3 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/111222333.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 3 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/AllHighLow.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 1 && ri == 1 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/113.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 1 && ri == 3 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/131.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 1 && ri == 3 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/133.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 2 && ri == 1 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/211.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 2 && ri == 2 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/223.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 2 && ri == 3 && ls == 2)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/121232.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 2 && ri == 3 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/233.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 1 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/311.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 1 && ls == 3)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/313.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 2 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/323.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 3 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/331.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 3 && ri == 3 && ls == 2)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/332.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }
    @if(ci == 1 && ri == 2 && ls == 1)
    {
        {
            <div class="container">
              <div class="row justify-content-center">
                <div class="w-25 h-25">
                    <img src="~/121232.png" class="img-fluid" alt="AllHighLow" />
                 </div>
              </div>
            </div>
        }
    }

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CentralModulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalStimulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionalInfluences)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CentralModulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalStimulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionalInfluences)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Current Graph</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete This Graph</a>
            </td>
        </tr>
}
    </tbody>
</table>
